altgraph==0.17.5
asgiref==3.11.0
Django==6.0
django-cors-headers==4.9.0
macholib==1.16.4
packaging==25.0
pyinstaller==6.17.0
pyinstaller-hooks-contrib==2025.11
python-dotenv==1.2.1
setuptools==80.9.0
sqlparse==0.5.5
